
    @use '../utils/variables' as v;
    @use '../utils/functions' as f;
    @use '../utils/mixins' as *;

    .header {
        position: fixed;
        z-index: 100;
        top: 0;
        width: 100%;
        padding: 0 15px;
    }

    .header-nav {
        max-width: 1330px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include query ('tablet-md', null, 'min') {
            height: 80px;
        }

        &__brand {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            font-weight: nth(v.$weights, 2);
        }
        
        &__icon {
            width: 35px;
            margin-right: 5px;
        }
    }

    .nav-list {
        position: absolute;
        top: 40px;
        right: 10px;
        width: 85px;
        padding: 10px 0;
        font-size: .8rem;
        text-align: center;
        border-radius: 9px;
        opacity: 0;
        transform: translateY(15px);
        transition: all .3s ease-in-out;
        overflow: hidden;
        box-shadow: v.$shadow;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            backdrop-filter: blur(5px);
        }

        @include query ('tablet-md', null, 'min') {
            top: 50px;
            width: 105px;
        }

        &--active {
            opacity: 1;
            transform: translateY(0px);
            clip-path: polygon(-23px -13px, 123.54% -14px, 123.54% 113.11%, -22px 113.8%);
        }

        &__item {
            position: relative;
            padding: 3px 0;
            transition-delay: 5s;
            transition: transform .3s ease-in-out;
            
            &::before { 
                position: absolute;
                z-index: -10;
                content: '';
                top: 0;
                left: 0;
                bottom: 0;
                width: 9px;
                height: 3px;
                margin: auto;
                background-color: f.getColorPalette('primary');
                transform: translateX(-10px);
                transition: transform .3s ease-in-out;
            }

            &:hover {

                &::before {
                    transform: translateX(0px);
                }
            }
        }
    }
